@media only screen and  (min-width:480px) and (max-width:810px){
  section *{
    margin: 0 60px;
  }

  h1{
    margin-right: 25%;
  }

  #hero h3{
    margin-left: 40%;
  }

  #texto-int{
    margin: 0 15%;
  }

  #cta{

    width: 50vw;
    margin-left: -25vw;
  }

  #cta-btn{
    line-height: 70px;
  }
}

@media only screen and (min-width: 811px){
  *{
    font-size: 12pt;
    line-height: 14pt;
  }

  h1.destaque, #final h2.destaque{
    font-size: 45px;
    line-height: 50px;
  }

  html{
    scroll-behavior: smooth;
  }

  body{
    display: flex;
    flex-wrap: wrap;

    height: 100vh;
  }

  .destaque{
    font-size: 2.4vw;
    line-height: 2.3vw;

    font-weight: bold;
  }

  .beneficios{
    width: 33%;
  }

  .icone{
    max-height: 17%;
  }

  #hero, #final{
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  #hero h3{
    display: none;
  }

  #texto-int, #img-final, #texto-cta-pc{
    display: block;
  }

  #hero h1, #texto-int, #texto-final{
    width: 50%;
    margin-left: 7%;
    margin-top: 0;
  }

  #texto-professores p{
	margin: 5% 10%;
  }

  #texto-int{
	width:40%;
    position:static;
    margin-top: 5vh;
    margin-bottom: 0;

    opacity: 1;
  }

  #texto-final{
    margin-bottom: 15vh;
  }

  #texto-final p{
    width: 70%;
  }

  #texto-int ul{
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;

    margin-top: 2vh;
    margin-left: 0;
  }

  .slide-carousel{
    order: 3;
    max-height: fit-content;

    max-width: auto;
  }

  #final{
    height: calc(100% - 110px);

    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    padding-bottom: 110px;
  }

  #cta{
    width: 100%;

    left: 0;
    margin-left: 0;
    bottom: 0;

    justify-content: flex-end;
    align-items: center;

	   border: 2px solid transparent;

     z-index: 99;
  }

  #texto-cta-pc{
    color: var(--branco);

    font-weight: bold;
  }

  #cta-btn{
    width: auto;
    padding: 0 30px;
    line-height: 9vh;

    margin: 1em 5vw 1em 1em;
  }

  [data-animate = "fadeIn"].animate, [data-animate = "fadeOut"].animate, [data-animate = "up"].animate, [data-animateTexto = "left"].animate{
    transform: translate3d(0,0,0);
    opacity: 1;
  }

  [data-animate = "fadeIn"]{
    transform: translate3d(-100vw,0,0);
  }

  [data-animateTexto]{
  	margin-top: 50px !important;
  	transform: translate3d(-50vw,0,0);
  }

  #vantagens{
    z-index: 3;
  }

  #professores{
    z-index: 2
  }
}

@media only screen and (min-width: 1280px){
  *{
    font-size: 15pt;
    line-height: 17pt;
  }

  h1.destaque, #final h2.destaque{
    font-size: 86.4px;
    line-height: 90.4px;
  }

  .slide-carousel{
  }
}
